.Centered
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    text-align: center
    margin: 0 auto

    @media (max-width: $breakpoint-mobile)
        padding: 64px
        margin-top: 16px

.Logo
    margin-bottom: 45px
    user-select: none
    color: var(--fg)
    fill: var(--fg)

.Name
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    font-family: $fontbold
    font-size: $title1
    font-weight: 800
    margin: 0 0 -5px
    background: linear-gradient(135deg, $gradient-start 0%, $gradient-end 100%)
    background-clip: text
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent

.Big
    display: flex
    flex-direction: column
    justify-content: center
    text-align: center
    font-family: $fontbold
    font-size: $title1
    font-weight: 800
    margin: 0 0 -5px

.Pronouns
    color: var(--fg)
    text-align: center
    font-size: $title3
    margin: 0 0 11px

.NamesBox
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

.SameLine
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center

.Subnames
    color: var(--caption)
    text-align: center
    font-size: $caption1
    font-weight: 300
    margin-bottom: 30px

.ProfilePicture
    display: flex
    flex-direction: column
    justify-content: center
    margin-right: 4px
    margin-left: 8px

.AboutBox
    display: flex
    flex-direction: row
    text-align: left
    margin-bottom: 30px

    &.End
        margin-bottom: 0

    @media (max-width: $breakpoint-mobile)
        flex-direction: column

.SubBox
    display: flex
    flex-direction: column
    justify-content: left
    text-align: left
    margin-left: 16px
    max-width: 256px

.SmallTitle
    font-size: $title3
    font-weight: 700
    text-align: left
    margin: 0

.SmallText
    font-size: $caption1
    margin: 0
    display: inline

.Link
    font-size: $title3
    color: var(--caption)
    margin: 0
    display: inline
    text-decoration: underline

.List
    text-align: left
    list-style: initial
    line-height: 1.15
    font-size: $title3
    margin: 0
    display: inline
    padding-left: 20px
