.CategoryHeader {
  font-size: $title3;
  font-weight: 700;
}

.ProjectsFrame {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 32px;
  width: 100%;
  height: 100%;
  padding: 48px 48px;
  overflow: auto;

  @media (max-width: $breakpoint-mobile) {
    padding: 48px;
  }
}

.ProjectCard {
  background-color: var(--cardbg);
  border: 1px solid var(--cardborder);
  box-shadow: rgba(0, 0, 0, 0.2) 0 1px 8px;
  height: fit-content;
  border-radius: 8px;
  display: flex;
  flex-direction: column;

  img {
    border-radius: 8px 8px 0 0;
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .content {
    padding: 11px 16px 16px 16px;
    flex: 1;

    h1 {
      font-size: $title2;
      font-weight: 700;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: $title3;
      margin: 0;
      padding: 0;
      color: var(--caption);
    }
  }

  .buttons {
    padding: 0 16px 16px 16px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: auto;

    a {
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 8px 16px;
      border-radius: 8px;
      font-size: $title3;
      font-weight: 700;
      text-decoration: none;
      color: var(--fg);
      background-color: var(--buttonbg);

      div {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          border-radius: 0px;
          width: 16px;
          height: 16px;
          flex-shrink: 0;
          margin-left: 7px;
          fill: var(--fg);
          filter: var(--fg-icon);
        }
      }

      &:hover {
        background-color: var(--buttonbg-hover);
      }
    }
  }

  .tags {
    margin-top: 8px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    // margin-top: auto

    .tag {
      display: inline-block;
      margin-right: 4px;
      margin-bottom: 4px;
      padding: 4px 10px;
      border-radius: 8px;
      font-size: $caption1;
      font-weight: 400;
      text-decoration: none;
      color: var(--fg);
      background-color: var(--buttonbg);
      border-color: var(--buttonbg-hover);

      &:hover {
        border: 1px solid var(--buttonbg-hover);
        padding: 3px 9px;
      }
    }
  }
}
